.titulo-blog {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 5rem;
    margin-top: 0; 
    color: white;
}

.posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 0.5rem; 
    margin-bottom: 6rem;
    color: black;
}

.post {
    display: flex;
    flex-direction: column;
    background: black;
    border-radius: 7px;
    border: 2px solid black;    
    overflow: hidden;
    transition: transform 0.3s ease;
    height: 100%; 
    min-height: 450px; 
}

.post:hover {
    transform: translateY(-5px);
    box-shadow: 0 2px 10px rgb(255, 255, 255);
}

.post img {
    padding-top: 1.5rem;
    display: block;
    margin: 0 auto;
    width: 70%;
    height: 100%; 
    object-fit: cover; 
    border-radius: 0;
}

.post .contenido {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
}

.post h2 {
    text-align: center;
    margin: 0 0 1.5rem 0; 
    font-size: 1.5rem;
    min-height: 3.5rem; 
}

.post p {
    text-align: justify;
    margin: 0;
    flex-grow: 1; 
    line-height: 1.8;
    font-size: 1rem;
    display: flex;
    align-items: center; 
}