/* src/styles/components/molecules/ProductCard.css */
.product-card {
  background: black;
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.product-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 5px 10px white; 
}

.product-card-image {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.product-card-info {
  padding: 1rem;
  flex-direction: column;
  flex-grow: 1;
}

.product-card-info h3 {
  display: block;
  font-size: 1,5rem;
  font-weight: 600;
  text-align: center;
  color: white;
}

.product-card-info p {
  font-weight: bold;
  margin: 0.5rem auto;
  padding: 0.5rem 1rem;
  text-align: center;
  color: white;
}

.product-card-actions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 0 0;
  margin-top: auto;
}

.btn-detalle,
.btn-carrito {
  display: inline-block;
  text-decoration: none;
  background: white;
  color: black;
  padding: 0.7rem 1.5rem;
  border-radius: 8px;
  font-weight: 600;
  transition: all 0.3s ease;
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: 0.9rem;
}

.btn-detalle:hover,
.btn-carrito:hover {
  background: black;
  color: white;
  box-shadow: 0 1px 10px white;  
}
